*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}


.hero-container {
    max-width: 1290px;
    width: 100%;
    margin-left:100px;  
    
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
}
.hero-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/hero-banner.png');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
 

}
.hero-logo{
    color:var(--primary-color);
   
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}
.hero-header{

    width:100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* align-self: stretch; */
}
ul.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding-right: 0;
    margin: 0 auto;
    
   
    
}
li a{
    text-decoration: none;
    color: var(--primary-color);
    
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    letter-spacing: 0.2px;
}
.navbar{
    display:flex;
    align-items: center;
    flex:1;
    gap:40px;
}
.logout{
    display:flex;
    align-items: center;
    /* justify-content: flex-end; */
    /* padding-left:100px; */

}
button.logout{
    width: 100px;
    height: 40px;
    background  : none;
    border: none;
    color: var(--primary-color);
  
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.2px;
        
}
.hero-content{
    color: var(--primary-color);
    margin-top:200px;
    width:100%;
    
    

}
.hero-welcome{
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 25.2px */
        letter-spacing: 0.2px;
}
.theme{
    color: var(--secondary-color);
}
.hero-title{
    width:700px;
    display: flex;
    padding-top:30px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    font-size:35px;


}

.location{
    display:flex;
    flex-direction: column;
    padding-top:30px;
    padding-bottom:25px;
}
.hero-description{
    
    width: 550px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    letter-spacing: 0.2px;
      
}
.hero-buttons{
    display:flex;
    gap:20px;
    padding-top:30px;
    border-radius: 12px;
  

    

}
.book-now{
    width: 150px;
    height: 50px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 8px;
    color: var(--primary-color);
    justify-content: center;
 
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.2px;
        
    
}
.explore-more{
    width: 150px;
    height: 50px;
    background  : none;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    color: var(--primary-color);
  
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
        letter-spacing: 0.2px;
}

.aboutus-container{
    max-width: 1290px;
    width: 100%;
    margin: auto;
    padding-top:100px;
    padding-left:65px;
    padding-right: 100px;
    padding-bottom: 100px;
   
}
.aboutus-title{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.2px;
    color:var(--grey-color);
    gap:12px;
}

.aboutus-image{
    width: 492px;
    height: 328px;
    border-radius:34px;
}


.history-image{
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border:1.5px solid var(--border-color);
}
.history-container{
    max-width: 1290px;
    width: 100%;
    margin: 100px 0 100px 0; 
    
    display: flex;
    gap: 117px;
    color:var(--lightgrey-color);
}
.history-title{

    margin-bottom:32px;
    color:var(--grey-color);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}
.history-description{
    display: flex;
    flex-direction: column;
    gap:16px;

    width: 500px;
    color:var(--grey-color);
}
.light-description{
   color:#9E9E9E;
}
.read-more{
    width: 130px;
    height: 40px;
    background  : none;
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    color: var(--secondary-color);
    margin-top:32px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.2px;
}   
.stats-section {
    width: 100%;
    background-color: var(--secondary-color);
}
.stats-container{
    max-width: 1290px;
    width: 100%;
    margin: auto;
    height: 119px;

 
    display:flex;
   justify-content: space-evenly;
 
}   


.stat-item{
    color:var(--primary-color);
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:20px;

}
.stat-number{
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    letter-spacing: 0.2px;
}
.stat-description{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    letter-spacing: 0.2px;
}

.room-container{
    width: 100%;
    max-width:1290px;
    margin: auto;
    padding-top:100px;
    padding-left:80px;
    padding-right: 80px;
    padding-bottom: 100px;
 
    background-color: var(--primary-color);
}
.explore-our{
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    color:var(--grey-color);
    display:flex;
    justify-content: center;
    padding:24px;
    margin-bottom: 100px;


}

.room-cards{
    display:flex;
    gap:48px;
    justify-content: center;
}
.room-card{

    display:flex;
    flex-direction: column;
    gap:8px;
    align-items: center;

}
.room-title{
    margin-top:24px;
    color:var(--grey-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    letter-spacing: 0.2px;
    text-transform: uppercase;
}
.room-price{
    color:var(--price-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    letter-spacing: 0.2px;
}
/* .services-container{
    max-width: 1290px;
    width: 100%;
    margin: auto;
    padding-top:100px;
    padding-left:157px;
    padding-right: 157px;
    padding-bottom: 100px;
   
   

} */

.services-container {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    
    padding-top: 100px;
    padding-bottom: 100px;

   
    padding-left: 80px;
    padding-right: 80px;
}


.cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;    
    width: 100%;
    
    
    gap: 40px;      
}
.services-content{
    display:flex;
    
    flex-direction: row;
}
/* 
.cards {
    display: flex;
    flex-wrap: wrap; 
    gap: 48px;      
    justify-content: center;    
    width: 100%;
    max-width: 1290px;
} */

.services-card{
    border: 1px solid  #EEE;
    display: flex;
    width: 350px;
    padding:64px 32px;
    flex-direction: column;
    align-items: center;
    gap:16px;
}

.icon{
   
    padding:16px;
}
.service-title{
    color:var(--grey-color);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.2px;
}
.service-description{
    color: var(--service-title);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.2px;
}
.testimonials-container{
    max-width: 1290px;
    width: 100%;
    margin: auto;
    padding-top:100px;
    padding-left:80px;
    padding-right: 80px;
    padding-bottom: 100px;
  
   

}
.testimonials-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.testimonials-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
    padding:16px 16px;
}
.qoute{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
.testimonials-description{
    width: 250px;
    color:var(--price-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    text-align: center;
    letter-spacing: 0.2px;
}
.name{
    margin-top: 24px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.2px;
    color:var(--grey-color);
}
.email{
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.2px;
    color:var(--service-title);
}

.footer-left{
    display: flex;
    width: 280px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}
.footer-container{
    display: flex;
    
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 80px;
    flex-direction: row;
   
    gap: 10px;
    align-self: stretch;
}
.footer-title{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    color:var(--grey-color);
}
.footer-description{
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    letter-spacing: 0.2px;
    color:var(--lightgrey-color);
    align-self: stretch;

}
.footer-email{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    letter-spacing: 0.2px;
    color:var(--service-title);
}
.footer-data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Space-16px, 16px);
    align-self: stretch;
}
.footer-right{
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}
.footer-links{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    letter-spacing: 0.2px;
    display:flex;
    flex-direction: column;
    gap:16px;
}
ul.footer-links-item{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
li.footer-link-item{
   text-decoration: none;
   list-style-type: none;
}

a.footer-link{
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    letter-spacing: 0.2px;
    color: var(--service-title);
}
.footer-links-title{
    color:var(--grey-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.2px;
}

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #FF8D41;
  --lightgrey-color:#616161;
  --border-color:#E0E0E0;
  --grey-color:#424242;
  --price-color:#757575;
  --service-title:#9E9E9E;
 
}



@media screen and (max-width: 992px) {
    
    .hero-container {
        margin-left: 0; 
        padding: 20px; 
    }

    .hero-header {
        flex-direction: column; 
        gap: 20px;
    }

    .navbar {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    ul.nav-links {
        flex-direction: column; 
        gap: 15px;
    }

    
    .hero-content {
        margin-top: 50px; 
        text-align: center;
    }

    .hero-title {
        width: 100%; 
        font-size: 28px;
        justify-content: center;
    }

    .hero-description {
        width: 100%;
        margin: 0 auto;
    }

    .hero-buttons {
        justify-content: center;
    }
    
    .hero-section {
        height: auto; 
        min-height: 100vh;
    }

   
    .aboutus-container {
        padding: 40px 20px;
    }

    .history-container {
        flex-direction: column; 
        gap: 40px;
        margin: 40px 0;
    }

    .history-description {
        width: 100%;
    }

    .aboutus-image {
        width: 100%; 
        height: auto;
    }

    
    .stats-container {
        height: auto;
        flex-wrap: wrap; 
        padding: 20px 0;
    }

    .stat-item {
        width: 50%; 
        margin-bottom: 20px;
    }

   
    .room-container {
        padding: 40px 20px;
    }

    .room-cards {
        flex-direction: column;
        align-items: center;
    }

    .room-card {
        width: 100%;
    }
    
    .room-card img {
        width: 100%; 
        height: auto;
    }


    .services-container {
        padding: 40px 20px;
    }

    .services-card {
        width: 100%; 
    }

    .testimonials-container {
        padding: 40px 20px;
    }

    .testimonials-content {
        flex-direction: column;
        gap: 40px;
    }

    /* Fix Footer */
    .footer-container {
        flex-direction: column; 
        padding: 40px 20px;
        gap: 40px;
    }

    .footer-left, .footer-right {
        width: 100%;
        align-items: center; 
        text-align: center;
    }

    ul.footer-links-item {
        align-items: center;
    }
    
    ul.footer-links {
        align-items: center;
    }
}


@media screen and (max-width: 480px) {
    .stat-item {
        width: 100%;
    }
    
    .hero-title {
        font-size: 24px;
    }
    
    .stat-number {
        font-size: 32px;
    }
}